.alice-carousel__dots-item:not(.__custom):hover {
    background-color: #7572D5;
}

.alice-carousel__dots-item:not(.__custom).__active {
    width: 20px;
    border-radius: 35px;
    background-color: #7572D5;
}

.alice-carousel__dots-item:not(.__custom) {
    border-radius: 50%;
    height: 7px;
    width: 7px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child) {
    margin-right: 5px;
}

.alice-carousel__wrapper {
    cursor: grab;

}

